@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bungee', cursive;
}

form input, form textarea {
  margin: 10px;
  padding-left: 5px;
  width: 300px;
  height: 50px;
  font-family: 'Bungee', cursive;
  border-color: #333;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  resize: none;
}

form textarea {
  padding-top: 1em;
}

.date-time {
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 50vw;
  font-family: 'Bungee', cursive;
}

.detail-area {
  height: 200px;
}

.statuses {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  gap: 1em;
  margin-top: -5em;
}

.status {
  width: 100px;
  height: 52px;
  margin: 40px auto;
  position: relative;
}

.status label {
  width: 100%;
  background: #333;
  height: 100%;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  transition: all .3s ease;
  transform-origin: 20% center;
  cursor: pointer;
}

.status label:before {
  content: "";
  display: block;
  transition: all .2s ease;
  width: 2.3em;
  height: 2.3em;
  top: .35em;
  left: .35em;
  border-radius: 2em;
  border: 2px solid #47c093;
  position: absolute;
  transition: .3s ease;
}

.status input[type="checkbox"]:checked + label:before {
  background-color: #47c093;
}

.status input[type="checkbox"] {
  visibility: hidden;
}

.status input[type="checkbox"]:checked + label:before {
  left: calc(100% - 2.85em);
}

.status .status-label {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  color: #333;
  font-size: 14px;
}

.add-button {
  border: 2px solid #333;
  color: #333;
}
