nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: thick double #333;
  margin-bottom: 5em;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background: #47c093;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

nav button {
  -webkit-text-stroke: 1.8px #333;
  color: #47c093;
}

button:hover {
  background: #333;
  color: #47c093;
  -webkit-text-stroke: 0px;
  font-size: 1.6em;
}