nav {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background: #47c093;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

button:hover {
  background: #333;
  color: #47c093;
}